.counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    row-gap: 3rem;
    background: linear-gradient(var(--color-primary), var(--color-primary-variant));
    height: 20vh;
}

.h1 {
    font-size: 2rem;
}

.h3 {
    font-size: 1rem;
    /* color: var(--color-primary); */
}

/* ============= MEDIA QUERY (SMALL DEVICES) ===========*/

@media screen and (max-width: 850px) {
    .resp {
        display: none;
    }

    .h3 {
        font-size: 0.9rem;
    }
}