#mywork {
    height: fit-content;
    padding: 1rem 0;
    width: 100%;
    user-select: none;
}


.work__head {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    margin: 1rem 0;
}

.container-w {
    width: 100%;
}

.work-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4%;
}


.box {
    width: 33%;
    margin: 0 1% 0 1%;
    height: fit-content;
    padding: 1rem 0;
    position: relative;
    cursor: pointer;
}


#image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    padding: 2%;
}

.text {
    position: absolute;
    color: black;
    line-height: 1;
    height: fit-content;
    display: flex;
    flex-direction:  column;
    gap: 1rem;
    border-radius: 8px;
    padding: 5px 10px;
}


.overlay {
    position: absolute;
    height: fit-content;
    padding: 1rem 0;
    width: 350px;
    opacity: 0;
    /* background-color: rgba(52, 124, 233, 0.7); */
}

.box:hover .overlay {
    opacity: 1;
}

.overlayfade {
    position: absolute;
    height:  101%;
    width: 100%;
    left: 0%;
    top: -5%;
    transition: all 0.3s ease;
    background-color: #4db5ff;
    border-radius: 8px;
    z-index: 10;
}

.btn-w {
    background-color: rgba(0, 0, 0, 0.6);
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: .4rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn-w :hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.flex{
    display: flex; 
    gap: 8px;
}

/* ============= MEDIA QUERY (MEIDUM DEVICES) ===========*/

@media screen and (max-width: 1070px) {

    .work-container {
        display: flex;
        justify-content: center;
    }

    .box {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {

    .box {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {

    .box {
        width: 80%;
    }

}

@media screen and (max-width: 500px) {

    .text {
        padding: 7px;
        line-height: 1.1;
    }

    .box {
        width: 90%;
    }

    .overlay {
        position: absolute;
        height: 230px;
        width: 325x;
    }
}

@media screen and (max-width: 400px) {
    .overlay {
        position: absolute;
        width: 310px;
    }

}